*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    color: rgb(245, 213, 177);
   font-family: Roboto Condensed;
   background-image: url(../resources/4P1B9288-min-fotor-20231219225848.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.navnavbar navbar-expand-lg navbar-light bg-light {
    background-color: black;
}

h1{
    text-align: center;
    color: rgb(153, 90, 8);
    font-size: 800px;
}

h2{
    text-align: center;
}

.subtitulos{
    font-size: 60px;
}



.wrapper {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.container{
    align-items: center;
    display: grid;  
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

input{
    padding: 9px;
    padding-right: 100px;
    border-radius: 5px 0 0 5px;
    
    border: 30px;
    outline: invert;
    
}


footer{
    color: rgb(245, 134, 43);
    background-color: rgb(82, 53, 36);
    text-align:center;
    
    
}


.imagen1{
 
}

.imagen2{
    
}



.imagen3{
    width: 155px;
    border-radius: 15px;
    
}

.imagen4{
    width: 270px;
    border-radius: 15px;
    right: 60%;
}


.imagen5{
    width: 200px;
    border-radius: 15px;
    margin: 70px;
}

.imagen6{
    width: 228px;
    border-radius: 15px;
    margin: 50px;
}

.imagen7{
    width: 230px;
    border-radius: 15px;
    margin: 40px;
}

.imagen8{
    width: 240px;
    border-radius: 15px;
   margin: 40px;
}

